html {
  color-scheme: light !important;
}

:root {
  --chakra-colors-chakra-body-bg: #ffffff !important;
  --chakra-colors-chakra-body-text: #000000 !important;
  
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --chakra-colors-chakra-body-bg: #ffffff !important;
    --chakra-colors-chakra-body-text: #000000 !important;
  }
}
